.day .rbc-time-view,
.rbc-time-content {
  border: 0px;
  border-left: 1px, solid, lightgray;
}

.day .rbc-time-header {
  display: none;
}

.day .rbc-event-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day .rbc-event-label {
  display: none;
}
