.footer-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  float: right;
  width: 100%;
  background: #dee8f5;
  border-radius: 0px 0px 15px 15px;
}

.time-buttons-container {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: row;
}

.footer-separator {
  height: 100%;
  width: 800px;
}

.time-button {
  font-family: Roboto;
  background: #4a90e2;
  color: white;
  font-size: 14px;
  width: 120px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  margin-top: 10%;
}
