.years-container {
  height: 500px;
  width: 100%;
  margin: auto;
}

.years-container .rbc-btn-group {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.years-container .rbc-month-view {
  border: 0px;
  width: 280px;
  height: 125px;
}

.column {
  float: left;
  padding: 0px 10px 12px 10px;
}

.years-container .rbc-date-cell {
  min-width: 0;
  padding-left: 5px;
  text-align: left;
  font-size: 0.7em;
}

.years-container .rbc-off-range {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.years-container .rbc-off-range-bg {
  background: white;
}

.years-container .rbc-day-bg + .rbc-day-bg {
  border-left: 0px;
}

.years-container .rbc-month-row + .rbc-month-row {
  border-top: 0px;
}

.years-container .rbc-header {
  border-bottom: 0px;
  padding-bottom: 10px;
}

.years-container .rbc-header + .rbc-header {
  border-left: 0px;
}
