.week .rbc-allday-cell {
  height: 0px;
  border: 0px transparent solid;
  display: none;
}

.week .rbc-time-header {
  background-color: white;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.week .rbc-time-header-cell {
  height: 40px;
}

.week .rbc-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom-color: white;
  color: #7f7f7f;
  font-size: 21px;
  font-weight: 200;
}
